@page "/"
@using MusicStoreOfficial.Client.Services
@using SharedLibrary.Models
@using SharedLibrary.Repositories
@using System.Collections.ObjectModel
@inherits MvvmBlazor.Components.MvvmComponentBase<AddAlbumViewModel>
@inject IAlbumRepository _albumRepository
@inject NavigationManager NavigationManager
@inject AddAlbumViewModel _viewModel
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<div class="caixa">
    @if (_viewModel.AlbumList is null || _viewModel.AlbumList.Count == 0)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var album in Bind(_viewModel,x => x.AlbumList))
        {
           @*  var index = _viewModel.AlbumList.IndexOf(album); *@
            <div class="card bg-dark" style="width: 18rem;border:none">
                <img src="@Bind(album,x => x.Imagem)" class="card-img-top text-white">
                <div class="card-body">
                    <h5 class="card-title text-white">Nome: @Bind(album,x => x.Nome)</h5>
                    <p class="card-text text-white">Artista : @Bind(album, x => x.Artista)</p>
                    <p class="card-text text-white">Gênero : @album.Genero</p>
                    
                    <DeleteModal 
                       Album="@Bind(album,x => x)"
                        />
                </div>
            </div>
        }
    }
    
</div>

@code {

    

    protected override async Task OnInitializedAsync()
    {
        await _viewModel.IniciarListaAlbunsAsync();       
    }
    
}