@page "/edit"
@inherits MvvmBlazor.Components.MvvmComponentBase<EditAlbumViewModel>
@inject EditAlbumViewModel _viewModel
@inject AddAlbumViewModel _viewModel2
@rendermode InteractiveServer

<br />
<hr />
<div class="contain">

    <label class="text-white">Id:</label>
    <br />
    <input type="text" @bind="@BindingContext.Id"/>
    <br />
    <br />
    <EditForm Model="@BindingContext.albumEditado" OnSubmit="@BindingContext.HandleSubmit">
        <label class="text-white">Nome:</label>
        <br />
        <InputText @bind-Value="@BindingContext.albumEditado.Nome"></InputText>
        <br />
        <br />
        <br />
        <label class="text-white">Artista:</label>
        <br />
        <InputText @bind-Value="@BindingContext.albumEditado.Artista"></InputText>
        <br />
        <br />
        <br />
        <label class="text-white">Genero:</label>
        <br />
        <InputText @bind-Value="@BindingContext.albumEditado.Genero"></InputText>
        <br />
        <br />
        <br />

        <label class="text-white">Link da Imagem:</label>
        <br />
        <InputText @bind-Value="@BindingContext.albumEditado.Imagem"></InputText>
        <br />
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
        <h4 class="text-white"><em>@BindingContext.isEdited</em></h4>
    </EditForm>
</div>


@code {
    protected override void OnInitialized()
    {
        var teste = 1;
        //
    }
}

